body {
    margin: 0;
    background-color: #00a8cc;
    font-family: sans-serif;
}

.nav-container {
    width 100vh;
    position: relative;
    z-index: 10;
}

.navbar {
    display: flex;
    width: 100%;
    position: fixed;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding: 20px;
    margin-left: 60px;
    color: #f5f5f5;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    padding: 10px;
    list-style: none;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: #f5f5f5;
    text-decoration: none;
    font-size: 18px;
}

.container {
    width: 100%;
    height: 100vh;
    position: relative;
}

.svg-container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
}

.world {
    width: 90%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.saved-svg, .recent-svg, .food-svg, .hotel-svg {
    border: none;
    position: fixed;
    top: 80px;
    left: 80px;
    background-color: transparent;
    text-align: center;
}

.recent-svg {
    top: 160px;
}

.food-svg {
    top: 240px;
}

.hotel-svg {
    top: 320px;
}

.saved-txt, .recent-txt, .food-txt, .hotel-txt{
    margin-top: 0.1px;
    font-size: 15px;
    color: white;
    font-weight: bold;
}

.gps-svg {
    border: none;
    position: fixed;
    bottom: 162px;
    right: 46px;
    background-color: transparent;
}

.plus-btn {
    border: none;
    position: fixed;
    bottom: 120px;
    right: 40px;
    background-color: transparent;
    cursor: pointer;
}

.minus-btn {
    border: none;
    position: fixed;
    bottom: 80px;
    right: 40px;
    background-color: transparent;
    cursor: pointer;
}

.overlay {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    z-index: 20;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.4);
}

.box {
    width: 70%;
    height: 80%;
    border-radius: 15px;
    border: 4px solid white;
    align-items: center;
}

.box-title {
    padding: 5px;
    text-align: center;
    color: white;
    font-size: 40px;
}

.box-content {
    margin-top: 50px;
    margin-left: 60px;
    margin-right: 60px;
}

.image-fig {
    float: right;
    txt-align: center;
}

.image {
    width: 320px;
    height: 240px;
    border-radius: 40px;
    display: block;
    margin: 0 auto;
}

.caption {
    width: 100%;
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
    font-style: italic;
    color: white;
}

.description {
    color: white;
    font-size: 25px;
    line-height: 1.7;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

.blinking {
    animation: blink 1s infinite;
}